* {
  box-sizing: border-box;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color:#f2f7ff;
  
  text-decoration: none;
}

body {
  background-color: #10316b;
  font-family: "Open Sans",
  sans-serif;
  
  font-size: 16px;
  line-height: 1.5;  
}

nav,
footer {
  padding: 1% 0;
  background-color: #0b409c;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

footer{
  color:#f2f7ff;
  font-size: 14px;
  padding:20px;
  bottom:0;
  position: fixed;
  width: 100%;
  
}

header {
  padding: 20px 0 0 0;
}

section {
  
  min-height: 180px;
  padding: 10px 15px;
  border:1px #ffe867;
  margin-left: 5%;
  margin-right: 5%;
}

@media screen and (min-width: 481px){
  header {
    font-size: 25px;
  }
  .landingImg{
    margin-bottom: 50px;
  }
  section{
     width: 50%;
     margin-left: auto;
     margin-right: auto;
  }
  .sleep{
    max-width: 50%;
}

    .empty{
        font-size: 60px;
    }
    h3{
      font-size: 25px;
    }
    p{
      font-size: 18px;
    }
    .end{
      height: 80px;
    }
    .signup-form{  
      width:50%;
  }
  .des{
    font-size: 13px;
    width: 60%;
  }
  .login-form{
    width:50%;
  }
  .sleep-record{
    width:50%;
  }
  #daily{
    font-size: 30px;
    font-family: 'Lobster', cursive;
    margin: 0 0 10px 0;
  }

}



